<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "История компании"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/menu/_menu.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        @@include('../../blocks/modules/breadcrumbs/_2-level.html', {
        "prev": "О компании",
        "current": "История"
        })

        <main class="page p-history">
            <div class="container">
                <div class="p-history__top">
                    <h1>ИСТОРИЯ КОМПАНИИ</h1>
                    <div class="p-history__slider-arrows"></div>
                </div>
                <div class="history">
                    <div class="history-tape">
                        <div class="history-tape__item">
                            <div class="history-tape__item-year">...</div>
                        </div>
                        <a href="#history-tab-1" class="history-tape__item history-tape__item--active">
                            <div class="history-tape__item-year">2018</div>
                        </a>
                        <a href="#history-tab-2" class="history-tape__item">
                            <div class="history-tape__item-year">2017</div>
                        </a>
                        <a href="#history-tab-3" class="history-tape__item">
                            <div class="history-tape__item-year">2016</div>
                        </a>
                        <a href="#history-tab-4" class="history-tape__item">
                            <div class="history-tape__item-year">2015</div>
                        </a>
                        <a href="#history-tab-5" class="history-tape__item">
                            <div class="history-tape__item-year">2014</div>
                        </a>
                        <a href="#history-tab-6" class="history-tape__item">
                            <div class="history-tape__item-year">2013</div>
                        </a>
                        <a href="#history-tab-7" class="history-tape__item">
                            <div class="history-tape__item-year">2012</div>
                        </a>
                    </div>
                    <div id="history-tab-1" class="history__content history__content--active">
                        <div class="history__year"></div>
                        <ul class="history__events">
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2018</time>
                                <p>Погрузка компании за 2018 год составила 19 млн. тонн.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2018</time>
                                <p>За 2018 год грузооборот составил 27 млрд. тонн км.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2018</time>
                                <p>В управлении компании более 13000 вагонов</p>
                            </li>
                        </ul>
                    </div>
                    <div id="history-tab-2" class="history__content">
                        <div class="history__year"></div>
                        <ul class="history__events">
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2017</time>
                                <p>Погрузка компании за 2018 год составила 19 млн. тонн.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2017</time>
                                <p>За 2018 год грузооборот составил 27 млрд. тонн км.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2017</time>
                                <p>В управлении компании более 13000 вагонов</p>
                            </li>
                        </ul>
                    </div>
                    <div id="history-tab-3" class="history__content">
                        <div class="history__year"></div>
                        <ul class="history__events">
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2016</time>
                                <p>Погрузка компании за 2018 год составила 19 млн. тонн.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2016</time>
                                <p>За 2018 год грузооборот составил 27 млрд. тонн км.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2016</time>
                                <p>В управлении компании более 13000 вагонов</p>
                            </li>
                        </ul>
                    </div>
                    <div id="history-tab-4" class="history__content">
                        <div class="history__year"></div>
                        <ul class="history__events">
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2015</time>
                                <p>Погрузка компании за 2018 год составила 19 млн. тонн.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2015</time>
                                <p>За 2018 год грузооборот составил 27 млрд. тонн км.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2015</time>
                                <p>В управлении компании более 13000 вагонов</p>
                            </li>
                        </ul>
                    </div>
                    <div id="history-tab-5" class="history__content">
                        <div class="history__year"></div>
                        <ul class="history__events">
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2014</time>
                                <p>Погрузка компании за 2018 год составила 19 млн. тонн.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2014</time>
                                <p>За 2018 год грузооборот составил 27 млрд. тонн км.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2014</time>
                                <p>В управлении компании более 13000 вагонов</p>
                            </li>
                        </ul>
                    </div>
                    <div id="history-tab-6" class="history__content">
                        <div class="history__year"></div>
                        <ul class="history__events">
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2013</time>
                                <p>Погрузка компании за 2018 год составила 19 млн. тонн.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2013</time>
                                <p>За 2018 год грузооборот составил 27 млрд. тонн км.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2013</time>
                                <p>В управлении компании более 13000 вагонов</p>
                            </li>
                        </ul>
                    </div>
                    <div id="history-tab-7" class="history__content">
                        <div class="history__year"></div>
                        <ul class="history__events">
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2012</time>
                                <p>Погрузка компании за 2018 год составила 19 млн. тонн.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2012</time>
                                <p>За 2018 год грузооборот составил 27 млрд. тонн км.</p>
                            </li>
                            <li class="clip-path-wrap history__event">
                                <time datetime="2018-12-31">31.12.2012</time>
                                <p>В управлении компании более 13000 вагонов</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>