<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Новости компании"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        @@include('../../blocks/modules/menu/_menu.html')

        @@include('../../blocks/modules/breadcrumbs/_2-level.html', {
        "prev": "Пресс-центр",
        "current": "Новости компании"
        })

        <main class="page p-news">
            <div class="container">
                <h1>Новости компании</h1>
                <div class="articles-wrap">
                    <article class="article-item">
                        <a href="#">
                            <time class="date" datetime="2021-03-30">30/03/2021</time>
                            <h6 class="article-item__title">
                                ВТБ Лизинг передал в оперирование "Грузовой компании" более 2000 полувагонов
                            </h6>
                            <p>ВТБ Лизинг передал в оперирование "Грузовой компании" более 2000 полувагонов</p>
                        </a>
                    </article>
                    <article class="article-item">
                        <a href="#">
                            <time class="date" datetime="2021-03-16">16/03/2021</time>
                            <h6 class="article-item__title">
                                Выставка TRANSRUSSIA 2021<br>
                                ООО «Грузовая компания».
                            </h6>
                            <p>
                                ООО Грузовая компания, входящая в состав многопрофильной железнодорожной группы компаний
                                РусТрансКом, участвует в 25-й международной выставке "TRANSRUSSIA 2021"
                            </p>
                        </a>
                    </article>
                    <article class="article-item">
                        <a href="#">
                            <time class="date" datetime="2020-03-27">27/03/2020</time>
                            <h6 class="article-item__title">
                                О БЕСПЕРЕБОЙНОЙ РАБОТЕ ООО «ГРУЗОВАЯ КОМПАНИЯ»
                            </h6>
                            <p>О БЕСПЕРЕБОЙНОЙ РАБОТЕ ООО «ГРУЗОВАЯ КОМПАНИЯ»</p>
                        </a>
                    </article>
                    <article class="article-item">
                        <a href="#">
                            <time class="date" datetime="2019-03-13">13/03/2019</time>
                            <h6 class="article-item__title">
                                Приглашение на 24-ю международную выставку "TRANSRUSSIA 2019"
                            </h6>
                        </a>
                    </article>
                    <article class="article-item">
                        <a href="#">
                            <time class="date" datetime="2021-03-30">30/03/2021</time>
                            <h6 class="article-item__title">
                                ВТБ Лизинг передал в оперирование "Грузовой компании" более 2000 полувагонов
                            </h6>
                            <p>ВТБ Лизинг передал в оперирование "Грузовой компании" более 2000 полувагонов</p>
                        </a>
                    </article>
                    <article class="article-item">
                        <a href="#">
                            <time class="date" datetime="2021-03-16">16/03/2021</time>
                            <h6 class="article-item__title">
                                Выставка TRANSRUSSIA 2021<br>
                                ООО «Грузовая компания».
                            </h6>
                            <p>
                                ООО Грузовая компания, входящая в состав многопрофильной железнодорожной группы компаний
                                РусТрансКом, участвует в 25-й международной выставке "TRANSRUSSIA 2021"
                            </p>
                        </a>
                    </article>
                    <article class="article-item">
                        <a href="#">
                            <time class="date" datetime="2020-03-27">27/03/2020</time>
                            <h6 class="article-item__title">
                                О БЕСПЕРЕБОЙНОЙ РАБОТЕ ООО «ГРУЗОВАЯ КОМПАНИЯ»
                            </h6>
                            <p>О БЕСПЕРЕБОЙНОЙ РАБОТЕ ООО «ГРУЗОВАЯ КОМПАНИЯ»</p>
                        </a>
                    </article>
                    <article class="article-item">
                        <a href="#">
                            <time class="date" datetime="2019-03-13">13/03/2019</time>
                            <h6 class="article-item__title">
                                Приглашение на 24-ю международную выставку "TRANSRUSSIA 2019"
                            </h6>
                        </a>
                    </article>
                    <article class="article-item">
                        <a href="#">
                            <time class="date" datetime="2021-03-30">30/03/2021</time>
                            <h6 class="article-item__title">
                                ВТБ Лизинг передал в оперирование "Грузовой компании" более 2000 полувагонов
                            </h6>
                            <p>ВТБ Лизинг передал в оперирование "Грузовой компании" более 2000 полувагонов</p>
                        </a>
                    </article>
                    <article class="article-item">
                        <a href="#">
                            <time class="date" datetime="2021-03-16">16/03/2021</time>
                            <h6 class="article-item__title">
                                Выставка TRANSRUSSIA 2021<br>
                                ООО «Грузовая компания».
                            </h6>
                            <p>
                                ООО Грузовая компания, входящая в состав многопрофильной железнодорожной группы компаний
                                РусТрансКом, участвует в 25-й международной выставке "TRANSRUSSIA 2021"
                            </p>
                        </a>
                    </article>
                    <article class="article-item">
                        <a href="#">
                            <time class="date" datetime="2020-03-27">27/03/2020</time>
                            <h6 class="article-item__title">
                                О БЕСПЕРЕБОЙНОЙ РАБОТЕ ООО «ГРУЗОВАЯ КОМПАНИЯ»
                            </h6>
                            <p>О БЕСПЕРЕБОЙНОЙ РАБОТЕ ООО «ГРУЗОВАЯ КОМПАНИЯ»</p>
                        </a>
                    </article>
                    <article class="article-item">
                        <a href="#">
                            <time class="date" datetime="2019-03-13">13/03/2019</time>
                            <h6 class="article-item__title">
                                Приглашение на 24-ю международную выставку "TRANSRUSSIA 2019"
                            </h6>
                        </a>
                    </article>
                </div>

                <nav class="pagination">
                    <ol class="pagination__list">
                        <li class="pagination__item">
                            <span>1</span>
                        </li>
                        <li class="pagination__item">
                            <a href="#">2</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </main>


        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>