<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Наши клиенты"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/menu/_menu.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        @@include('../../blocks/modules/breadcrumbs/_2-level.html', {
        "prev": "Клиентам",
        "current": "Наши клиенты"
        })

        <main class="page our-clients">
            <div class="container">
                <h1>НАШИ КЛИЕНТЫ И ПАРТНЕРЫ</h1>
                <div class="cards our-clients__cards">
                    <a href="https://www.severstal.com" class="card">
                        <img class="card__img" src="img/logo/partners/1.png" alt="логотип ПАО «СЕВЕРСТАЛЬ»">
                        <span class="card__content">
                            <h6 class="line-title card__title">ПАО «СЕВЕРСТАЛЬ»</h6>
                            <span class="card__text">
                                Вертикально-интегрированная сталелитейная и горнодобывающая компания<br>
                                https://www.severstal.com
                            </span>
                        </span>
                    </a>
                    <a href="www.beteltrans.ru" class="card">
                        <img src="img/logo/partners/2.png" alt="логотип ОАО «БЭТ" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">ОАО «БЭТ»</h6>
                            <span class="card__text">
                                Производство и продажа шпал.<br>
                                www.beteltrans.ru
                            </span>
                        </span>
                    </a>
                    <a href="www.ruscoal.ru" class="card">
                        <img src="img/logo/partners/3.png" alt="логотип ОАО «РУССКИЙ УГОЛЬ»" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">ОАО «РУССКИЙ УГОЛЬ»</h6>
                            <span class="card__text">
                                Добыча угля.<br>
                                www.ruscoal.ru
                            </span>
                        </span>
                    </a>
                    <a href="http://www.mechel.ru/" class="card">
                        <img src="img/logo/partners/4.png" alt="логотип ОАО «МЕЧЕЛ»" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">ОАО «МЕЧЕЛ»</h6>
                            <span class="card__text">
                                Горнодобывающая и металлургическая компания.<br>
                                http://www.mechel.ru/
                            </span>
                        </span>
                    </a>
                    <a href="https://www.severstal.com" class="card">
                        <img src="img/logo/partners/5.png" alt="логотип ГРУППЫ КОМПАНИЙ «ВЭЙ-ГРУПП»" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">ГРУППА КОМПАНИЙ «ВЭЙ-ГРУПП»</h6>
                            <span class="card__text">
                                Вертикально-интегрированная сталелитейная и горнодобывающая компания<br>
                                https://www.severstal.com
                            </span>
                        </span>
                    </a>
                    <a href="www.nmgk.ru" class="card">
                        <img src="img/logo/partners/6.png" alt="логотип ГРУППЫ КОМПАНИЙ «НМЖК»" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">ГРУППА КОМПАНИЙ «НМЖК»</h6>
                            <span class="card__text">
                                Предприятие масложировой промышленности.<br>
                                www.nmgk.ru
                            </span>
                        </span>
                    </a>
                    <a href="www.rusagrogroup.ru" class="card">
                        <img src="img/logo/partners/7.png" alt="логотип РУСАГРО" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">РУСАГРО</h6>
                            <span class="card__text">
                                www.rusagrogroup.ru
                            </span>
                        </span>
                    </a>
                    <a href="www.karakan-invest.ru" class="card">
                        <img src="img/logo/partners/8.png" alt="логотип КАРАКАН ИНВЕСТ" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">КАРАКАН ИНВЕСТ</h6>
                            <span class="card__text">
                                Добыча угля.<br>
                                www.karakan-invest.ru
                            </span>
                        </span>
                    </a>
                    <a href="www.cargill.ru" class="card">
                        <img src="img/logo/partners/9.png" alt="логотип CARGILL" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">CARGILL</h6>
                            <span class="card__text">
                                www.cargill.ru
                            </span>
                        </span>
                    </a>
                    <a href="pmhtransport.ru" class="card">
                        <img src="img/logo/partners/10.png" alt="логотип ООО «ПМХ-ТРАНСПОРТ»" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">ООО "ПМХ-ТРАНСПОРТ"</h6>
                            <span class="card__text">
                                Услуги для грузовладельцев и операторов.<br>
                                pmhtransport.ru
                            </span>
                        </span>
                    </a>
                    <a href="nnk.ru" class="card">
                        <img src="img/logo/partners/11.png" alt="логотип АО «ННК»" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">АО «ННК»</h6>
                            <span class="card__text">
                                Добыча и переработка нерудных полезных ископаемых.<br>
                                nnk.ru
                            </span>
                        </span>
                    </a>
                    <a href="www.suek.ru" class="card">
                        <img src="img/logo/partners/12.png" alt="логотип ОАО «СУЭК»" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">ОАО «СУЭК»</h6>
                            <span class="card__text">
                                Добыча угля.<br>
                                www.suek.ru
                            </span>
                        </span>
                    </a>
                    <a href="www.ugmk.com" class="card">
                        <img src="img/logo/partners/13.png" alt="логотип ОАО «УГМК»" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">ОАО «УГМК»</h6>
                            <span class="card__text">
                                Горно-металлургическая компания.<br>
                                www.ugmk.com
                            </span>
                        </span>
                    </a>
                    <a href="www.evraz.com" class="card">
                        <img src="img/logo/partners/14.png" alt="логотип ЕВРАЗ" class="card__img">
                        <span class="card__content">
                            <h6 class="line-title card__title">ЕВРАЗ</h6>
                            <span class="card__text">
                                Металлургическая и горнодобывающая компания.<br>
                                www.evraz.com
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>