<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Рекивизиты"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/menu/_menu.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        @@include('../../blocks/modules/breadcrumbs/_2-level.html', {
        "prev": "Контакты",
        "current": "Рекивизиты"
        })

        <main class="page requisites">
            <div class="container">
                <h1>РЕКВИЗИТЫ КОМПАНИИ ООО «ГРУЗОВАЯ КОМПАНИЯ»</h1>
                <table class="requisites__table requisites__table--1">
                    <thead>
                        <tr>
                            <td></td>
                            <td>
                                Реквизиты компании
                            </td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>
                                <span>
                                    Полное наименование организации
                                    (в соответствии с Уставом)
                                </span>
                            </td>
                            <td>
                                <span>
                                    Общество с ограниченной ответственностью<br>
                                    «Грузовая компания»
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>
                                <span>Сокращенное наименование организации (в соответствии с Уставом)</span>
                            </td>
                            <td><span>ООО «Грузовая компания»</span></td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td><span>Адрес местонахождения (индекс, регион, город)</span></td>
                            <td><span>107140, г. Москва, ул. Верхняя Красносельская, дом 16</span></td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td><span>Адрес для корреспонденции (индекс, регион, город)</span></td>
                            <td><span>107140, г. Москва, ул. Верхняя Красносельская, дом 16</span></td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td><span>Контактные телефоны/факсы организации</span></td>
                            <td><span>+7 (499) 682-72-01, факс +7 (499) 682-72-23</span></td>
                        </tr>
                    </tbody>
                </table>

                <table class="requisites__table requisites__table--2">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Коды организации</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6.</td>
                            <td><span>ИНН</span></td>
                            <td><span>7702598850</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span>КПП</span></td>
                            <td>
                                <span>
                                    770801001<br>
                                    775050001 (для первичных и платежных документов)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span>ОКПО</span></td>
                            <td><span>16</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span>ОКОПФ</span></td>
                            <td><span>12300</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span>ОГРН</span></td>
                            <td><span>1067746420323</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span>ОГРН</span></td>
                            <td><span>1067746420323</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span>ОКАТО</span></td>
                            <td><span>45286555000</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span>OКВЭД</span></td>
                            <td><span>49.20</span></td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>
                                <span>Банковские реквизиты организации, адрес и реквизиты банка</span>
                            </td>
                            <td>
                                <span>
                                    р/с № 40702 810 0 0003 0004573<br>
                                    в ПАО Банк ВТБ, г. Москва<br>
                                    Корр./счет № 30101810700000000187 в ОПЕРУ Московского ГТУ Банка России<br>
                                    БИК 044525187
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>
                                <span>Адрес электронной почты</span>
                            </td>
                            <td>
                                <span>
                                    <a class="blue-link" href="mailto:info@gruzovaya.com">info@gruzovaya.com</a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td><span>Телефон/факс</span></td>
                            <td><span>+7 (499) 682-72-01/ 682-72-23</span></td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td><span>Руководитель организации</span></td>
                            <td>
                                <span>
                                    Генеральный директор<br>
                                    Амелин Дмитрий Ландиктович
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td><span>Правовое основание</span></td>
                            <td><span>На основании Устава</span></td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td><span>Перечень руководителей, уполномоченных подписывать договор</span></td>
                            <td><span>Амелин Дмитрий Ландиктович</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>