<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Работа в компании"
})

<body>

    <div class="wrapper no-bg">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/menu/_menu.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        @@include('../../blocks/modules/breadcrumbs/_2-level.html', {
        "prev": "О компании",
        "current": "Работа в компании"
        })

        <main class="page work-in-company">
            <div class="container">
                <h1>Работа в компании</h1>
                <p>
                    С 2013 года ООО «Грузовая компания» является частью многопрофильной железнодорожной группы компаний
                    «РТК» и поддерживает высокие корпоративные стандарты группы.
                </p>
                <blockquote class="clip-path-wrap">
                    Основа успеха ООО «Грузовая компания» — это ее сотрудники, каждый из которых профессионал в своей
                    области. Именно от общих усилий команды профессионалов формируется эффективность нашей компании.
                </blockquote>
                <p>
                    Мы привлекаем в компанию наиболее квалифицированных сотрудников. При подборе персонала мы в первую
                    очередь ориентируемся на квалификацию и потенциал соискателей, используя лучшие практики в области
                    подбора персонала.
                    Значительное внимание при приеме на работу в ООО «Грузовая компания» уделяется адаптации новых
                    сотрудников в коллективе, а также вовлечению персонала в непрерывное улучшение наших
                    бизнес-процессов.
                    Понимая, что инвестиции в персонал составляют основу долгосрочного успеха, мы непрерывно заботимся о
                    повышении квалификации сотрудников.
                    Компания предоставляет ДМС, офис расположен в шаговой доступности от станций метро «Бауманская» и
                    «Красносельская».
                </p>
                <section class="vacancies work-in-company__vacancies">
                    <h3 class="vacancies__title">
                        ВАКАНСИИ
                    </h3>
                    <div class="vacancies__text">
                        На данный момент открытых<br>
                        вакансий нет
                    </div>
                </section>

                <p>
                    Для отправки резюме воспользуйтесь формой или направьте свое резюме на электронный адрес
                    <a href="mailto:info@gruzovaya.com">info@gruzovaya.com</a>
                </p>

                @@include('../../blocks/modules/forms/resume-form/_resume-form.html')
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>