.breadcrumbs-wrap {
    padding-top: 50px;
    @extend %flex-row-center;

    @media(max-width: 991px) {
        padding-top: 25px;
    }

    @media(max-width: 575px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.print-version {
    display: inline-block;
    position: relative;
    padding-left: 32px;
    @extend %text-14;
    color: $dark;
    transition: .3s color;

    @media(max-width: 575px) {
        margin-top: 20px;
    }

    &:hover {
        color: $orange;
    }

    &:before {
        content: '';
        position: absolute;
        @extend %pos-center-y;
        left: 0px;
        width: 20px;
        height: 20px;
        background-image: url(../img/icons/printer.svg);
    }
}

.breadcrumbs {
    &__item {
        position: relative;
        display: inline-block;
        @extend %text-14;
        color: #9F9F9F;
        text-decoration: underline;
        padding-right: 18px;
        margin-right: 15px;

        @media(max-width: 575px) {
            font-size: 12px;
            line-height: 14px;
            padding-right: 10px;
            margin-right: 5px;
        }

        &:after {
            content: '/';
            position: absolute;
            @extend %pos-center-y;
            right: 0;
            @extend %text-14;
            color: #9F9F9F;
        }

        &:first-child {
            padding-left: 33px;

            @media(max-width: 575px) {
                padding-left: 21px;
            }

            &:before {
                content: '';
                position: absolute;
                @extend %pos-center-y;
                left: 0px;
                width: 20px;
                height: 20px;
                background-image: url(../img/icons/home.svg);
                background-size: contain;
                background-repeat: no-repeat;

                @media(max-width: 575px) {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &:last-child {
            color: $dark-blue;
            text-decoration: none;
            margin-right: 0;
            padding-right: 0;

            &:after {
                content: '';
            }
        }
    }
}