.articles {

    // .articles__row

    &__row {
        width: 1125px;
        display: grid;
        grid-template-columns: 1fr 1fr 285px;
        grid-gap: 66px;
        padding-bottom: 50px;

        @media(max-width: 1200px) {
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
        }

        @media(max-width: 991px) {
            grid-template-columns: 100%;
            grid-gap: 50px;
        }

        @media(max-width: 575px) {
            padding-bottom: 40px;
        }
    }

    &__btn {
        border: 1px solid $orange;
        color: $orange;

        &:hover {
            background-color: $orange;
            color: #fff;
        }
    }
}

.article {

    &:first-child {
        .article {
            &__title {
                color: $dark;

                &:after {
                    background-color: #38505A;
                }
            }
        }
    }

    // .article__title

    &__title {
        display: inline-block;
        color: #939DA3;
        margin-bottom: 20px;

        &:after {
            bottom: 5px;
            width: 22px;
            height: 20px;
            clip-path: polygon(66% 0%, 100% 0%, 34% 100%, 0% 100%);
            background-color: #939DA3;
        }
    }

    // .article__item

    &__item {
        min-height: 66px;
        @extend %text-16;
        margin-bottom: 34px;

        @media(max-width: 991px) {
            min-height: auto;
            margin-bottom: 20px;

            &:last-child {
                @media(max-width: 991px) {
                    margin-bottom: 30px;
                }
            }
        }

        &:hover {
            .article__item-title {
                color: $orange;
            }
        }
    }

    &__item-title {
        font-weight: 400;
        transition: .3s color;
    }

    // .article__date

    &__item-date {
        display: block;
        color: #959CA1;
        margin-bottom: 12px;
    }
}

.important-info {

    // .important-info__item

    &__item {
        @extend %vertical-align;
        padding-bottom: 2px;
        border-bottom: 1px solid #DDDDDD;
        @extend %text-14;
        color: $dark;
        font-weight: 700;
        transition: .3s color;

        @media(max-width: 991px) {
            width: 50%;
        }

        @media(max-width: 575px) {
            width: 100%;
        }

        &:hover {
            color: $orange;
        }
    }

    &__item+&__item {
        margin-top: 8px;
    }

    // .important-info__item-img

    &__item-img {
        flex-shrink: 0;
        margin-right: 13px;
    }
}

.articles-wrap {
    width: 495px * 2 + 136px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 137px;

    @media(max-width: 1200px) {
        width: 100%;
        grid-column-gap: 50px;
    }

    @media(max-width: 850px) {
        grid-template-columns: 100%;
        grid-gap: 20px;
    }
}

.article-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #9F9F9F;
    @extend %text-14;
}