@import './vars';
@import './mixins';
@import './fonts';
@import './null';

.container {
    width: $container + $gap * 2;
    max-width: 100%;
    padding: 0 $gap;
    margin: 0 auto;
}

p {
    @extend %text-14;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &:before {
        @media(min-width: 1200px) {
            content: '';
            position: absolute;
            top: 0px;
            right: 0;
            left: 0px;
            z-index: -1;
            width: 100%;
            height: 759px;
            background-image: url(../img/bg/bg.svg);
        }
    }

    &.no-bg {
        &:before {
            @media(min-width: 1200px) {
                display: none;
            }
        }
    }
}

.page {
    flex: 1 1 auto;
    padding: 50px 0;

    @media(max-width: 575px) {
        padding-top: 30px;
    }

    &__list {
        margin-left: 62px;
        margin-top: 20px;

        @media(max-width: 575px) {
            margin-top: 15px;
            margin-left: 0;
        }
    }
}

.footer {
    flex: 0 0 auto;
}

.grid {
    display: grid;
}

.blue-link {
    color: $second-blue;
}

.clip-path-wrap {
    background-color: $dark-blue;
    //border: 2px solid $dark-blue;
    clip-path: polygon(0.7% 0%, 100% 0%, 100% 74%, 97% 100%, 0.7% 100%, 0.7% 54.8%, 0% 50%, 0.7% 45.2%);
    color: #fff;
}

.date {
    display: block;
    @extend %text-14;
    color: #9F9F9F;
    margin-bottom: 14px;
}